* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --backgroundc: rgb(85, 0, 0);
}

body {
    background-color: darksalmon;
}

header {
    width: 100%;
    background-color: var(--backgroundc);
    border: 4px solid maroon;
}

.header {
    float: left;
}

#title {
    text-align: left;
    color: cornsilk;
    text-shadow: 2px 1px 2px bisque;
    margin: 20px 20px
}

.accent {
    color: rgb(205, 240, 242);
    text-shadow: 2px 1px 2px pink;
}

#desc {
    margin: 50px 0px 10px -380px;
    color: rgb(205, 240, 242);
    text-shadow: 1px 1px 1px bisque;
    display: block;
}

header nav {
    float: right;
    margin: 20px;
}

header nav ul a li {
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    margin: 30px;
    display: inline-block;
}

.sticky {
    position: sticky;
    top: 5px;
    bottom: auto;
    left: 100px;
    right: 30px;
    z-index: 1;
}

#projects,
#about,
#contact {
    
}

#projects {

}

#about {

}

#contact {

}