* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bgc2mc3: #392f5a;
    --backgroundc1: #eec8e0;
    --mainc1: #f092dd;
    --mainc2: #ffaff0;
    --accentc1: #a8c7bb;
}

body {
    background-color: var(--backgroundc1);
}

header {
    width: 100%;
    background-color: var(--bgc2mc3);
    border: 4px solid var(--accentc1);
}

.header {
    float: lef;
}

.stickynav {
    position: sticky;
    top: 0px;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}

#title {
    text-align: left;
    color: var(--mainc1);
    text-shadow: 2px 1px 2px var(--accentc1);
    margin: 5px 20px 5px;
}

.accent {
    color: var(--mainc2);
    text-shadow: 2px 1px 2px var(--accentc1);
}

#desc {
    color: var(--accentc1);
    text-shadow: 1px 1px 1px var(--mainc2);
    font-size: 28px;
    margin: -10px auto auto auto;
}

header nav {
    float: right;
}

header nav ul a li {
    text-decoration: none;
    list-style: none;
    color: var(--mainc2);
    margin: 20px;
    display: inline-block;
}

article #projects {
    text-shadow: 2px 2px var(--mainc1)
}

.projects-text {
    margin: 2%;
    font-size: 26px;
    color: var(--bgc2mc3);
    text-shadow: 1px 1px var(--mainc1);
}

.horiseon-img,
.placeholder-img {
    justify-content: center;
    width: 96%;
    border-radius: 0% 3% 3% 3%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 2%;
    border: 2px solid var(--bgc2mc3);
}

#projects,
#about,
#contact {
    color: var(--bgc2mc3);
    text-shadow: var(--mainc1);
    font-size: 36px;
    padding: 5px;
    margin: 0px 10px 20px 10px;
}

.projects {
    margin-bottom: 2%;
    border: 0px solid var(--bgc2mc3);
}

aside {
    flex: auto;
    display: inline-flex;
}

.about {
    display: inline-block;
    max-width: 75%;
    margin: 1%;
    background-color: var(--accentc1);
}

header,
.about,
.contact,
.projects img {
    box-shadow: 1px 1px 5px var(--bgc2mc3);
}

aside section p {
    margin: 15px 0;
}

#abouttext {
    float: left;
    padding: 2%;
    width: 60%;
    color: var(--bgc2mc3);
}

#aboutportrait {
    width: 40%;
    padding: 2.5%;
}

.contact {
    max-width: 25%;
    background-color: var(--bgc2mc3);
    color: var(--accentc1);
    margin: 1%;
}

#contact {
    color: var(--accentc1);
}

#andlinks {
    font-size: 24px;
    margin-left: 2%;
}

#githublink,
#email a {
    color: var(--mainc1);
}

#email,
#github {
    margin: 1%;
    padding: 2%;
}

@media screen and (max-width:992px) {
    #desc {
        font-size: 24px;
    }
    #title, #projects, #about, #contact {
        font-size: 28px;
    }
    #andlinks{
        font-size: 18px;
    }
    .horiseon-text {
        font-size: 22px;
    }
    header nav ul a li {
        margin: 1px 10px 3px 20px;
    }
    aside {
        margin: 0% 2% 0% 0%;
    }
    .contact {
        margin: 1% -1% 1% 1%
    }
}

@media screen and (max-width:1200px) and (min-width:1081px) {
    #githublink {
        font-size: 98%;
    }
}

@media screen and (max-width:1080px) and (min-width:951px) {
    #githublink {
        font-size: 87%;
    }
}

@media screen and (max-width:950px) and (min-width:894px) {
    #githublink {
        font-size: 80%;
    }
}

@media screen and (max-width:893px) and (min-width:811px) {
    #githublink {
        font-size: 75%;
    }
}

@media screen and (max-width:810px) and (min-width:768px) {
    #githublink {
        font-size: 70%;
    }
}

@media screen and (max-width:768px) {
    #desc {
        display:none;
    }
    #title, #projects, #about, #contact {
        font-size: 24px;
    }
    #andlinks{
        font-size: 16px;
    }
    .projects-text {
        font-size: 20px;
    }
    header nav ul a li {
        color: var(--accentc1);
        margin: 1px 10px 3px 20px;
    }
    aside {
        flex-wrap: wrap;
    }
    .about {
        min-width: 100%;
    }
    .contact {
        min-width: 100%;
    }
    .contact-content {
        display: flex;
        flex-wrap: wrap;
    }
}

li:hover {
    text-shadow: white 1px 0 10px;
}

a:hover {
    text-shadow: var(--bgc2mc3) 1px 0 10px;
}

a:focus {
    color: var(--accentc1);
    border: 1px solid var(--bgc2mc3);
}